input[type="radio"] {
    display: none;
}

li.option-text {
    text-align: center;
    border: 1px solid black;
    display: flex;
    label {
        text-transform: capitalize;
        width: 100%;
        font-size: 14px;
        padding: 3px 13px;
    }
    input[type="radio"]:checked + label {
        background-color: #000;
        color: #fff;
    }
}

.option-crical {
    label {
        display: block;
        width: var(--radio-r);
        height: var(--radio-r);
        border-radius: 50%;
        border: 1px solid black;
    }
}
.option-crical input[type="radio"]:checked + label {
    border: 3px solid black;
    width: var(--radio-checked);
    height: var(--radio-checked);
}
.choice-btn {
    padding: 3px 13px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 14px;
    text-transform: capitalize;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    &.active {
        color: #fff;
        background-color: #000;
    }
}
.option-text {
}
@media (min-width: 1366px) {
}
@media (min-width: 1024px) and(max-width:1365px) {
}
/* mobie up */
@media (min-width: 768px) {
}
/* mobie up */
/* moboe */
@media (min-width: 768px) and(max-width:1023px) {
}
@media (max-width: 767px) {
}
