.product-card__link-wraper {
    padding-bottom: 32px;
    overflow: hidden;
    background-color: #f7f7f7;
    &:hover .product-card__img {
        transition: 0.4s;
        transform: scale(1.1);
    }
}
.product-card__img {
    width: 100%;
    // height: 100%;
    height: 230px;
}

.product-card__name {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    line-height: normal;
    color: var(--color-main);
    span {
        text-transform: uppercase;
    }
    margin-bottom: 16px;
}
.product-card__des {
    font-size: 14px;
    text-align: center;
    color: var(--color-main);
    font-weight: 500;
    line-height:28px ;
}
.product-card__price {
    @extend .product-card__des;
    font-weight: 700;
    margin-top: 16px;
}