.container__collection-wraper{
    margin-bottom: 130px;
}
.collection__box{}
.collection__tile{
    font-size: 56px;
    color:var(--color-main);
    font-weight: 600;
    text-align: center;
    margin-bottom: 80px;
    span{
        font-weight: 900;
    }
}
/* rps */
@media (min-width: 1366px) {
 
}
@media (min-width: 1024px) and(max-width:1365px) {
  
}
@media (min-width: 768px) and(max-width:1023px) {
    .item-collection__wraper{
      
      &:nth-child(2n + 1){
        grid-column: 1/span 6;
        margin-right: var(--grid-gap-col-mg-lap-pc);
      }
      &:nth-child(2n + 2){
        grid-column: span 6/-1;
        margin-left: var(--grid-gap-col-mg-lap-pc);
      }
    }
}
@media (max-width:767.5px){

   
}
/* rps */