%can-not-scroll {
    background-color: #fff;
    .header__logo {
        span {
            color: #000;
        }
    }
    .header__list-link {
        li {
        }
        a {
            color: #21252980;
            transition: 0.25s;
            &:hover {
                color: #000;
            }
        }
    }
    .header__btn-mobie{
        *{
            color: #000;
        }
    }
}
%can-scroll {
    background-color: transparent;
    .header__logo {
        span {
            color: #fff;
        }
    }
    .header__list-link {
        li {
            display: flex;
            align-items: center;
        }
        a {
            color: #fff;
        }
    }
    .header__btn-mobie{
        *{
            color: #fff;
        }
    }
}
.header {
    height: var(--header-height);
    position: fixed;
    z-index: 99;
    width: 100%;
    transition: 0.5s;
    &:not(.relative, .open-menu) {
        @extend %can-scroll;
    }
}
// can't scroll
.header.relative {
    @extend %can-not-scroll;
}
//can scroll

.header.scroll {
    &:not(.relative) {
        @extend %can-not-scroll;
    }
    &:not(.open-menu) {
        box-shadow: 0 12px 32px 0 rgba(33, 37, 41, 0.06);
    }
    &:not(.can-not-resize):not(.open-menu) {
        height: 70px;
    }
}
//open menu

.header.open-menu {
    @extend %can-not-scroll;
}

.header-box {
    display: flex;
}

.header__list-link {
    li {
        display: flex;
        align-items: center;
    }
    a {
        font-size: 12px;
        line-height: 15px;
        font-weight: 800;
        text-transform: uppercase;
    }
}

.header__btn-mobie {
    font-size: 20px;
    span {
        i {
            font-size: 20px;
        }
    }
}

@media (min-width: 1366px) {
}
@media (min-width: 1024px) {
    .header__logo {
        flex: 0.3333;
    }
    .header__list-link {
        justify-content: space-between;
        flex: 0.33333;
    }
}
@media (min-width: 1024px) and(max-width:1365px) {
}
/* mobie up */
@media (min-width: 768px) {
    .header__list-link {
        display: flex;
    }
}
/* mobie up */
/* moboe */
@media (min-width: 768px) and(max-width:1023px) {
    .header__logo {
        flex: 0.3333;
    }
    .header__list-link {
        justify-content: center;
        flex: 0.5;
    }
}
//mobie
@media (max-width: 767px) {
    .header-box {
        justify-content: space-between;
    }
    .header__btn-mobie {
        display: flex;
        align-items: center;
    }
    .header__list-link {
        display: none;
    }
    .header.open-menu {
        .header__list-link {
            display: block;
            position: absolute;
            width: 100%;
            top: 100%;
            left: 0;
            li {
                display: block;
                background-color: #fff;
            }
            a {
                text-align: center;
                line-height: 44px;
            }
        }
    }
}
