.item-collection__wraper {
    padding-bottom: 40px;
    grid-row: auto;
    animation: fadein 1s linear;
    &:nth-child(2n + 1) {
        grid-column: 1 / span 5;
        margin-right: var(--grid-gap-col-mg-lap-pc);
    }
    &:nth-child(2n + 2) {
        grid-column: span 5/-1;
        margin-left: var(--grid-gap-col-mg-lap-pc);
    }
}
.item-collection__img {
    width: 100%;
    height: 300px;
}
.item-collection__info {
}
.item-collection__des {
    font-size: 12px;
    color: var(--color-main);
    margin: 12px 0;
    font-weight: 500;
}
.item-collection__details {
    display: flex;
    margin: 12px 0;
}
.item-collection__faceplate {
    flex: 1;
}
.item-collection__cap {
    font-size: 13px;
    color: var(--color-main);
    line-height: 26px;
}
.item-collection__bold {
    @extend .item-collection__cap;
    font-weight: 900;
}

@media (min-width: 1366px) {
}
@media (min-width: 1024px) and(max-width:1365px) {
}
/* mobie up */
@media (min-width: 768px) {
}
/* mobie up */
/* moboe */
@media (min-width: 768px) and(max-width:1023px) {
}
@media (max-width: 767px) {
}
